#aboutContainer{
    /* background-color: #3f6a8d; */
    /* background-color: #3e5f7e; */
    /* background-color: #3a5875; */
    background-color: #426585;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}

#aboutDescription{
  opacity: 0;
  width:40%;
  font-size: 20px;
  font-weight: lighter;
  text-align: justify;
  text-indent: 1em;
  -webkit-animation: 3s ease-out 0s normal forwards 1 aboutDescription;
  animation: 3s ease-out 0s normal forwards 1 aboutDescription;
  animation-delay: 0.3s;
}

@keyframes aboutDescription {
  0% {opacity: 0;}
  100% {opacity:1;}
} 

#aboutTitle{
  color:black;
  opacity: 0;
  font-size: 25px;
   -webkit-animation: 1.5s ease-out 0s normal forwards 1 aboutTitle;
   animation: 1.5s ease-out 0s normal forwards 1 aboutTitle;
   animation-delay: 0.3s;
}

@keyframes aboutTitle {
  0% {width: 0vh;opacity: 0;}
  100% {width:40%;opacity: 1;}
} 