#curtain {
    background-color: #ff6c2f;
    animation: cover 1.3s;
    width:100%;
    height:100%;
    top:0;
    position: absolute;
    z-index: -1;
}

@keyframes cover {
  0% {width: 0%;}
  100% {width:100%}
}