:root {
    --transitionTime: 0.7s;
}

#card {
    cursor: pointer;
    opacity: 0;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: orange;
    width: 200px;
    overflow:hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-animation: var(--transitionTime) ease-in-out 0s normal forwards 1 thumbnail;
    animation: var(--transitionTime) ease-in-out 0s normal forwards 1 thumbnail;
    animation-delay:var(--delay)
}

@keyframes thumbnail {
  0% {opacity: 0;height:240px}
  100% {opacity: 1;height:260px}
}

#thumbnailImage{
    filter: brightness(100%);
    margin-left: -90px;
    width:4 00px;
    transition: all 0.3s ease-in-out;
}

#cardTitleContainer{
    position: absolute;
    margin:0;
    top:235px;
    width:200px;
    transition: 0.20s ease-in-out
}

#cardTitleContainer #title{
    color:white;
    opacity: 0;
    margin:0;
    height:25px;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    transition: all 0.4s ease-in-out;
}

#cardTitleContainer #subTitle{
    opacity: 0;
    margin:0;
    margin-left: 10px;
    margin-right: 10px;
    height:100px;
    margin-top:10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    transition: all 0.8s ease-in-out;
}

#card:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

#card:hover > #cardTitleContainer{
  top:100px;
  transition: all 0.3s ease-in-out;
}

#card:hover > #thumbnailImage{
  margin-left: -105px;
  width:420px;
  filter: brightness(30%);
  transition: all 0.2s ease-in-out;
}

#card:hover > #cardTitleContainer > #title{
  opacity: 1;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

#card:hover > #cardTitleContainer > #subTitle{
  opacity: 1;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.4s;
}