
#cardContainer{
    position: absolute;
    top: 450px;
    margin-right:500px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content:flex-start;
}

#works-words{
    padding-left: 40%;
    padding-right: 10px;
    text-align: right;
    font-size: 20px;
    font-weight: lighter;
}