:root {
  --transitionTime:0.7s;
}

#cardContainer{
    /* background-color: silver; */
    /* width:40%; */
    /* margin-top: 30%; */
    position: absolute;
    top:500px;
    margin-right:500px;
    margin-left: 300px;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content:flex-start;
}